<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>个人足迹</title>-->
<!--    <script src="../../static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>-->
<!--    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all"/>-->
<!--</head>-->
<!--<body>-->
<!--<table class="layui-hide" id="test" lay-filter="test"></table>-->

<!--<script type="text/html" id="toolbarDemo">-->
<!--    <div class="layui-btn-container">-->
<!--&lt;!&ndash;        绑定事件  lay-event=""&ndash;&gt;-->
<!--        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>-->
<!--        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>-->
<!--        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>-->
<!--    </div>-->
<!--</script>-->

<!--<script type="text/html" id="barDemo">-->
<!--    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
<!--    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
<!--</script>-->


<!--<script>-->
<!--    layui.use('table', function(){-->
<!--        var table = layui.table;-->

<!--        table.render({-->
<!--            elem: '#test'-->
<!--            ,url:'sys/menu/list'-->
<!--           // ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板-->
<!--            // ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可-->
<!--            //     title: '提示'-->
<!--            //     ,layEvent: 'LAYTABLE_T IPS'-->
<!--            //     ,icon: 'layui-icon-tips'-->
<!--            // }]-->
<!--            ,title: '用户数据表'-->
<!--            ,cols: [[-->
<!--                {type: 'checkbox', fixed: 'left'}-->
<!--                ,{field:'ID', title:'ID', width:80, fixed: 'left', unresize: true, sort: true}-->
<!--                ,{field:'SNAME', title:'景区名', width:120, edit: 'text'}-->
<!--                ,{field:'TIME', title:'浏览时间', width:300}-->
<!--                // ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:400}-->
<!--            ]]-->
<!--            ,page: true-->
<!--        });-->

<!--        //头工具栏事件-->
<!--        // table.on('toolbar(test)', function(obj){  //事件监听-->
<!--        //     var checkStatus = table.checkStatus(obj.config.id);-->
<!--        //     switch(obj.event){-->
<!--        //         case 'getCheckData':-->
<!--        //             var data = checkStatus.data;-->
<!--        //             layer.alert(JSON.stringify(data));-->
<!--        //             break;-->
<!--        //         case 'getCheckLength':-->
<!--        //             var data = checkStatus.data;-->
<!--        //             layer.msg('选中了：'+ data.length + ' 个');-->
<!--        //             break;-->
<!--        //         case 'isAll':-->
<!--        //             layer.msg(checkStatus.isAll ? '全选': '未全选');-->
<!--        //             break;-->
<!--        //-->
<!--        //         //自定义头工具栏右侧图标 - 提示-->
<!--        //         case 'LAYTABLE_TIPS':-->
<!--        //             layer.alert('这是工具栏右侧自定义的一个图标按钮');-->
<!--        //             break;-->
<!--        //     };-->
<!--        // });-->
<!--        //-->
<!--        // //监听行工具事件-->
<!--        // table.on('tool(test)', function(obj){-->
<!--        //     var data = obj.data;-->
<!--        //     //console.log(obj)-->
<!--        //     if(obj.event === 'del'){-->
<!--        //         layer.confirm('真的删除行么', function(index){-->
<!--        //             obj.del();-->
<!--        //             layer.close(index);-->
<!--        //         });-->
<!--        //     } else if(obj.event === 'edit'){-->
<!--        //         layer.prompt({-->
<!--        //             formType: 2-->
<!--        //             ,value: data.email-->
<!--        //         }, function(value, index){-->
<!--        //             obj.update({-->
<!--        //                 email: value-->
<!--        //             });-->
<!--        //             layer.close(index);-->
<!--        //         });-->
<!--        //     }-->
<!--        // });-->
<!--    });-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>个人足迹</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all"/>
</head>
<body>
   <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <!--        绑定事件  lay-event=""-->
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
<!--            <input class="layui-input-block layui-btn-sm" placeholder="请输入景区" width="40px">-->
        </div>
   </script>

    <table id="demo" lay-filter="test"></table>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
<script src="../../static/layui/layui.js"></script>
<script  src="../../static/js/jquery-3.5.1.js"></script>
<script>
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'//表格id
            ,width: '100%'
            ,url: '/reponsedata' //数据接口
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            // ,pages: Math.ceil(data.length/nums)
            ,cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'ID', title:'ID', width:100, fixed: 'left', unresize: true, sort: true}
                    ,{field:'SNAME', title:'景区名', width:200, edit: 'text',unresize: true, sort: true}
                    ,{field:'TIME', title:'浏览时间', width:300,unresize: true, sort: true }
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:400}
                ]
            ]
            ,page: true//启用分页
            ,limit: 5//限制每一页的行数
            ,limits: [5,10,15]//表示每一页可显示的行数
        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){  //事件监听
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                    $.ajax({
                        data: {ID:json.stringify(data)},
                        url:'/deleteTLog',
                        async:true,
                        type:'post',
                        dateType:'json',
                        success: function (data) {
                            alert("删除完成！")
                        }
                    })
                });

            }
        });
    });
</script>
</body>
</html>
