<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>旅游调查问卷</title>
		<style type="text/css">
			label {
				height: 2em;
				width: 5em;
				padding: 45px;
			}
			/*body{*/
			/*	background-color: #3EECAC;*/
			/*	background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);*/
			/*}*/

		</style>
		<script src="../../static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
		<link rel="stylesheet" href="../../static/layui/css/layui.css" media="all"/>

	</head>
	<body>
<!--		<div >-->
<!--			<h1 style="color: #30A7FA;text-align: center;">旅游调查爱好调查问卷</h1>-->
<!--		</div>-->
<!--		<div id="data">-->
<!--&lt;!&ndash;			<input th:value="${interest.getAGE()}" type="hidden">&ndash;&gt;-->
<!--			<input th:value="${interest.OPTION}" type="hidden">-->
<!--&lt;!&ndash;			<input th:value="${interest.ATTENTION}" type="hidden">&ndash;&gt;-->
<!--&lt;!&ndash;			<input th:value="${interest.FREQUENCY}" type="hidden">&ndash;&gt;-->
<!--&lt;!&ndash;			<input th:value="${interest.TIME}" type="hidden">&ndash;&gt;-->
<!--			<input th:value="${interest.INTEREST}" type="hidden">-->
<!--&lt;!&ndash;			<input th:value="${interest.STAY}" type="hidden">&ndash;&gt;-->
<!--&lt;!&ndash;			<input th:value="${interest.LONGESTTIME}" type="hidden">&ndash;&gt;-->
<!--			<input th:value="${interest.WITH}" type="hidden">-->
<!--			<input th:value="${interest.CAREQUESTION}" type="hidden">-->
<!--&lt;!&ndash;			<input th:value="${interest.DISTANCE}" type="hidden">&ndash;&gt;-->
<!--&lt;!&ndash;			<input th:value="${interest.LIKE}" type="hidden">&ndash;&gt;-->
<!--&lt;!&ndash;			<input th:value="${interest.CARE}" type="hidden">&ndash;&gt;-->

<!--		</div>-->
		<hr>
		<hr>
		<form class="layui-form" th:method="post" th:action="@{/data/updateInterest}" >
			<div class="layui-form-item">
				<div >
					<label>1.请问您的年龄阶段为:</label>
				</div>
				<div>
					<input type="hidden" name="USERNAME" th:value="${interest.getUSERNAME()}">
				</div>
				<div class="layui-input-block">
					<input  type="radio" name="AGE" value="0" title="A.18岁以下" th:checked="${interest.getAGE()==0}">
					<input  type="radio" name="AGE" value="1" title="B.18-30岁" th:checked="${interest.getAGE()==1}" >
					<input  type="radio" name="AGE" value="2" title="C.31-40岁" th:checked="${interest.getAGE()==2}" >
					<input  type="radio" name="AGE" value="3" title="D.41-50岁" th:checked="${interest.getAGE()==3}" >
					<input  type="radio" name="AGE" value="4" title="E.51-60岁" th:checked="${interest.getAGE()==4}" >
					<input  type="radio" name="AGE" value="5" title="F.60岁以上" th:checked="${interest.getAGE()==5}">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="">2.您最喜欢的旅游方式为</label>
				<div class="layui-input-block" id="checkbox1">
					<input type="checkbox" name="OPTION" value="0" title="A.自驾游" th:checked="${#strings.contains(interest.getOPTION(),'0')}"  >
					<input type="checkbox" name="OPTION" value="1" title="B.公共交通工具" th:checked="${#strings.contains(interest.getOPTION(),'1')}">
					<input type="checkbox" name="OPTION" value="2" title="C.包车" th:checked="${#strings.contains(interest.getOPTION(),'2')}">
					<input type="checkbox" name="OPTION" value="3" title="D.旅行社组织" th:checked="${#strings.contains(interest.getOPTION(),'3')}">
					<input type="checkbox" name="OPTION" value="4" title="E.步行或自行车" th:checked="${#strings.contains(interest.getOPTION(),'4')}">
					<input type="hidden" name="OPTION" value="5" checked>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="">3.您平时有没有关注旅游/吃喝玩乐类媒体呢？</label>
				<div class="layui-input-block">
					<input type="radio" name="ATTENTION" value="0" title="A.经常" th:checked="${interest.getATTENTION()==0}" >
					<input type="radio" name="ATTENTION" value="1" title="B.偶尔" th:checked="${interest.getATTENTION()==1}">
					<input type="radio" name="ATTENTION" value="2" title="C.很少" th:checked="${interest.getATTENTION()==2}">
					<input type="radio" name="ATTENTION" value="3" title="D.没有" th:checked="${interest.getATTENTION()==3}">
				</div>
			</div>
			<div class="layui-form-item">
				<div >
					<label class="">4.您每年旅行出行多少次？</label>
				</div>
				<div class="layui-input-block">
					<input type="radio" name="FREQUENCY" value="0" title="A.0次" th:checked="${interest.getFREQUENCY()==0}" >
					<input type="radio" name="FREQUENCY" value="1" title="B.1-2次"th:checked="${interest.getFREQUENCY()==1}">
					<input type="radio" name="FREQUENCY" value="2" title="C.3-5次" th:checked="${interest.getFREQUENCY()==2}">
					<input type="radio" name="FREQUENCY" value="3" title="D.6次及以上" th:checked="${interest.getFREQUENCY()==3}">
				</div>
			</div>
			<div class="layui-form-item">
				<div >
					<label class="">5.您一般外出旅游的时间？</label>
				</div>
				<div class="layui-input-block">
					<input type="radio" name="TIME" value="0" title="A.春季（3月-5月）" th:checked="${interest.getTIME()==0}">
					<input type="radio" name="TIME" value="1" title="B.夏季（6月-8月）" th:checked="${interest.getTIME()==1}">
					<input type="radio" name="TIME" value="2" title="C.秋季（9月-11月）" th:checked="${interest.getTIME()==2}">
					<input type="radio" name="TIME" value="3" title="D.冬季（12月-2月）" th:checked="${interest.getTIME()==3}">
					<input type="radio" name="TIME" value="4" title="E.无所谓，随时都可以" th:checked="${interest.getTIME()==4}">
				</div>
			</div>
			<div class="layui-form-item">
				<div >
					<label class="">6.您对下列哪些旅游类型感兴趣？</label>
				</div>
				<div class="layui-input-block"  id="checkbox2">
					<input type="checkbox" name="INTEREST" value="0" title="A.文化景区" th:checked="${#strings.contains(interest.getINTEREST(),'0')}">
					<input type="checkbox" name="INTEREST" value="1" title="B.自然景区" th:checked="${#strings.contains(interest.getINTEREST(),'1')}">
					<input type="checkbox" name="INTEREST" value="2" title="C.节庆活动景区" th:checked="${#strings.contains(interest.getINTEREST(),'2')}">
					<input type="checkbox" name="INTEREST" value="3" title="D.游憩景区" th:checked="${#strings.contains(interest.getINTEREST(),'3')}">
					<input type="checkbox" name="INTEREST" value="4" title="E.娱乐景区" th:checked="${#strings.contains(interest.getINTEREST(),'4')}">
					<input type="hidden" name="INTEREST" value="5" checked>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="">7.您通常一次在旅游点停留多长时间？</label>
				<div class="layui-input-block">
					<input type="radio" name="STAY" value="0" title="A.半天" th:checked="${interest.getSTAY()==0}" >
					<input type="radio" name="STAY" value="1" title="B.一天" th:checked="${interest.getSTAY()==1}">
					<input type="radio" name="STAY" value="2" title="C.2-3天" th:checked="${interest.getSTAY()==2}">
					<input type="radio" name="STAY" value="3" title="D.4-5天" th:checked="${interest.getSTAY()==3}">
					<input type="radio" name="STAY" value="4" title="E.一周或者更长" th:checked="${interest.getSTAY()==4}">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="">8.您通常外出一次旅游的最长时间:</label>
				<div class="layui-input-block">
					<input type="radio" name="LONGESTTIME" value="0" title="A.1天" th:checked="${interest.getLONGESTTIME()==0}">
					<input type="radio" name="LONGESTTIME" value="1" title="B.2天" th:checked="${interest.getLONGESTTIME()==1}">
					<input type="radio" name="LONGESTTIME" value="2" title="C.3天" th:checked="${interest.getLONGESTTIME()==2}">
					<input type="radio" name="LONGESTTIME" value="3" title="D.4-7天" th:checked="${interest.getLONGESTTIME()==3}">
					<input type="radio" name="LONGESTTIME" value="4" title="E.一周或者更长" th:checked="${interest.getLONGESTTIME()==4}">
				</div>
			</div>
<!--			<div class="layui-form-item">-->
<!--				<div >-->
<!--					<label class="">9.您外出一次旅游可以接受的总消费金额？</label>-->
<!--				</div>-->
<!--				<div class="layui-input-block">-->
<!--					<input type="radio" name="CITY" value="0" title="A.200元以内" checked>-->
<!--					<input type="radio" name="CITY" value="1" title="B.201-1000元">-->
<!--					<input type="radio" name="CITY" value="2" title="C.1001-3000元">-->
<!--					<input type="radio" name="CITY" value="3" title="D.3001-10000元">-->
<!--					<input type="radio" name="CITY" value="4" title="E.10000元以上">-->
<!--				</div>-->
<!--			</div>-->
			<div class="layui-form-item" pane="">
				<label class="">9.您经常和谁一起旅游:</label>
				<div class="layui-input-block"  id="checkbox3">
					<input type="checkbox" name="WITH" value="0" lay-skin="primary" title="A.家人" th:checked="${#strings.contains(interest.getWITH(),'0')}">
					<input type="checkbox" name="WITH" value="1" lay-skin="primary" title="B.恋人" th:checked="${#strings.contains(interest.getWITH(),'1')}">
					<input type="checkbox" name="WITH" value="2" lay-skin="primary" title="C.朋友" th:checked="${#strings.contains(interest.getWITH(),'2')}">
					<input type="checkbox" name="WITH" value="3" lay-skin="primary" title="D.同学" th:checked="${#strings.contains(interest.getWITH(),'3')}">
					<input type="checkbox" name="WITH" value="4" lay-skin="primary" title="E.同事" th:checked="${#strings.contains(interest.getWITH(),'4')}">
					<input type="checkbox" name="WITH" value="5" lay-skin="primary" title="F.独自" th:checked="${#strings.contains(interest.getWITH(),'5')}">
					<input type="checkbox" name="WITH" value="6" lay-skin="primary" title="G.旅行团" th:checked="${#strings.contains(interest.getWITH(),'6')}">
					<input type="checkbox" name="WITH" value="7" lay-skin="primary" title="H.驴友" th:checked="${#strings.contains(interest.getWITH(),'7')}">
					<input type="checkbox" name="WITH" value="8" lay-skin="primary" title="I.其他" th:checked="${#strings.contains(interest.getWITH(),'8')}">
					<input type="hidden" name="WITH" value="9" checked>
				</div>
			</div>
			<div class="layui-form-item" pane="">
				<label class="">10.您最为关注旅游出行的哪些问题？</label>
				<div class="layui-input-block"  id="checkbox4">
					<input type="checkbox" name="CAREQUESTION" value="0" title="A.景区服务质量" th:checked="${#strings.contains(interest.getCAREQUESTION(),'0')}">
					<input type="checkbox" name="CAREQUESTION" value="1" title="B.景区人流量" th:checked="${#strings.contains(interest.getCAREQUESTION(),'1')}">
					<input type="checkbox" name="CAREQUESTION" value="2" title="C.交通出行状况" th:checked="${#strings.contains(interest.getCAREQUESTION(),'2')}">
					<input type="checkbox" name="CAREQUESTION" value="3" title="D.天气状态" th:checked="${#strings.contains(interest.getCAREQUESTION(),'3')}">
					<input type="checkbox" name="CAREQUESTION" value="4" title="E.价格" th:checked="${#strings.contains(interest.getCAREQUESTION(),'4')}">
					<input type="checkbox" name="CAREQUESTION" value="5" title="F.宾馆、餐厅配套设施" th:checked="${#strings.contains(interest.getCAREQUESTION(),'5')}">
					<input type="checkbox" name="CAREQUESTION" value="6" title="G.其他" th:checked="${#strings.contains(interest.getCAREQUESTION(),'6')}">
					<input type="hidden" name="CAREQUESTION" value="7" checked>
				</div>
			</div>
			<div class="layui-form-item">
				<div >
					<label class="">11.您往常的出游距离范围是什么？</label>
				</div>
				<div class="layui-input-block">
					<input type="radio" name="DISTANCE" value="0" title="A.30公里以内" th:checked="${interest.getDISTANCE()==0}">
					<input type="radio" name="DISTANCE" value="1" title="B.30-100公里" th:checked="${interest.getDISTANCE()==1}">
					<input type="radio" name="DISTANCE" value="2" title="C.100-300公里" th:checked="${interest.getDISTANCE()==2}">
					<input type="radio" name="DISTANCE" value="3" title="D.300公里以外" th:checked="${interest.getDISTANCE()==3}">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="">12.您喜欢主题旅游吗？</label>
				<div class="layui-input-block">
					<input type="radio" name="LIKE" value="0" title="A.喜欢" th:checked="${interest.getLIKE()==0}" >
					<input type="radio" name="LIKE" value="1" title="B.不喜欢"   th:checked="${interest.getLIKE()==1}">
					<input type="radio" name="LIKE" value="2" title="C.无所谓"  th:checked="${interest.getLIKE()==2}">
				</div>
			</div>

			<div class="layui-form-item" >
				<label class="">13.你在出游前，最关心目的地的哪些信息？</label>
				<div class="layui-input-block">
					<input type="radio" name="CARE" value="0" lay-skin="primary" title="A.游玩项目"  th:checked="${interest.getCARE()==0}" >
					<input type="radio" name="CARE" value="1" lay-skin="primary" title="B.购物" th:checked="${interest.getCARE()==1}">
					<input type="radio" name="CARE" value="2" lay-skin="primary" title="C.美食" th:checked="${interest.getCARE()==2}">
					<input type="radio" name="CARE" value="3" lay-skin="primary" title="D.民风民俗" th:checked="${interest.getCARE()==3}">
				</div>
			</div>
			<div class="layui-form-item" >
				<div class="layui-input-block">
<!--					<button class="layui-btn" lay-filter="formDemo" onclick="q1()">获取数据</button>-->
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					<button class="layui-btn layui-btn-warm" type="submit" lay-filter="formDemo" onclick="alert('更改成功！')">更改</button>
				</div>
			</div>
		</form>

		<script>
			//Demo
			layui.use('form', function(){
				var form = layui.form;

				//监听提交
				form.on('submit(formDemo)', function(data){
					layer.msg(JSON.stringify(data.field));
					return false;
				});
			});
		</script>
		<!-- Jquery Js -->
		<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<!--		<script type="text/javascript" src="../../stastic/js/jquery.js"></script>-->
		<script>
			// function a1(){
			// 	var m1=document.getElementsByName('OPTION').value;
			// 	var m2=document.getElementsByName('INTEREST').value;
			// 	var m3=document.getElementsByName('WITH').value;
			// 	var m4=document.getElementsByName('CAREQUESTION').value;
			// 	if(m1==null || m2==null || m3==null ||m4==null){
			// 		alert("该问卷调查未填写完整，请检查！")
			// 	}else{
			// 		alert("更改成功！")
			// 	}
			// }




			// var a1=$('#data input:nth-of-type(1)').value;
			// var a2=$('#data input:nth-of-type(2)').value;
			// var a3=$('#data input:nth-of-type(3)').value;
			// var a4=$('#data input:nth-of-type(4)').value;
			// var a5=$('#data input:nth-of-type(5)').value;
			// var a6=$('#data input:nth-of-type(6)').value;
			// var a7=$('#data input:nth-of-type(7)').value;
			// var a8=$('#data input:nth-of-type(8)').value;
			// var a9=$('#data input:nth-of-type(9)').value;
			// var a10=$('#data input:nth-of-type(10)').value;
			// var a11=$('#data input:nth-of-type(11)').value;
			// var a12=$('#data input:nth-of-type(12)').value;
			// var a13=$('#data input:nth-of-type(13)').value;
			// $('.layui-input-block:nth-child(1) input:nth-child(a1+1)').checked();
			// var m=a2.split(",");
			// for (let i;i<m.length;i++){
			// 	$('.layui-input-block:nth-child(2) input:nth-child(m[i])').checked();
			// }
			//
			// 'user strict';
			// function q1(){
			// 	var a2=$('#data input:nth-of-type(1)').val();
			// 	var a6=$('#data input:nth-of-type(2)').val();
			// 	var a9=$('#data input:nth-of-type(3)').val();
			// 	var a10=$('#data input:nth-of-type(4)').val();
			//
			// 	var test=1;
			// 	var q=1;
			// 	var m1=a2.split(",");
			// 	q=parseInt(m1[0]);
			// 	for (let i;i<m1.length;i++){
			// 		q=parseInt(m1[i]);
			// 		$('#checkbox1 input:nth-child(q+1)').checked=true;
			// 	}
			// 	var m2=a6.split(",");
			// 	for (let i;i<m2.length;i++){
			// 		q=parseInt(m2[i]);
			// 		test=q;
			// 		$('#checkbox2 input:nth-child(q+1)').checked=true;
			// 	}
			// 	var m3=a9.split(",");
			// 	for (let i;i<m3.length;i++){
			// 		q=parseInt(m3[i]);
			// 		$('#checkbox3 input:nth-child(q+1)').checked=true;
			// 	}
			// 	var m4=a10.split(",");
			// 	for (let i;i<m4.length;i++){
			// 		q=parseInt(m4[i]);
			// 		$('#checkbox4 input:nth-child(q+1)').checked=true;
			// 	}
			// }
		</script>
	</body>
</html>
