<!DOCTYPE html>
<link rel="stylesheet" href="../static/layui/css/layui.css"><!-- 定义一个交互样式连接到本地的layui文件 -->
<link rel="stylesheet" type="text/css" href="../static/css/loader.css">
<script src="../static/layui/layui.js"></script><!-- //导入script文件 -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>智书-管理员中心</title>
    <!-- <link rel="stylesheet" href="../src/css/layui.css"> -->
    <!-- 0 -->
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/layui/layui.js"></script>
    <script type="text/javascript" src="../static/layui//layui.all.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css" />
</head>
<body class="layui-layout-body">
<!-- 动画加载开始 -->
<script type="text/javascript">
    // 等待所有加载
    $(window).load(function(){
        $('body').addClass('loaded');
        $('#loader-wrapper .load_title').remove();
    });
</script>
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
    <div class="load_title">正在加载LoveFeel站点<br><span>V1.0</span></div>
</div>
<!-- 动画加载结束 -->
<!-- 主体内容 -->
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">管理员中心</div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="javascript:;"><img src="http://t.cn/RCzsdCq" class="layui-nav-img">admin</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" data-id="5" data-title="基本资料" data-url="index.php?&a=adminLogList" class="site-demo-active" data-type="tabAdd">基本资料</a></dd>
                    <dd><a href="javascript:;" data-id="6" data-title="安全设置" data-url="index.php?&a=adminLogList" class="site-demo-active" data-type="tabAdd">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="" onclick="custom_close()";>关闭页面</a></li>
        </ul>

    </div>
    <script type="text/javascript">
        function custom_close(){
            if(confirm("您确定要关闭本页吗？")){
                window.opener=null;
                window.open('','_self');
                window.close();
            }
            else{
            }
        }
    </script>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧垂直导航区域-->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item">
                    <a href="javascript:;" data-id="4" data-title="管理员信息" data-url="index.php?&a=adminLogList" class="site-demo-active" data-type="tabAdd">管理员中心</a>
                    <dl class="layui-nav-child">
                      <dd><a href="javascript:;" data-title="管理员信息">管理员信息</a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;" >图书管理</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-id="1" data-title="销售总额分析" data-url="main.html" class="site-demo-active" data-type="tabAdd">销售总额分析</a></dd>
                        <dd>
                            <a href="javascript:;" data-id="2" data-title="图书编辑" data-url="index.php?&a=adminLogList" class="site-demo-active" data-type="tabAdd">图书编辑</a></dd>

                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;" data-id="4" data-title="用户信息" data-url="index.php?&a=adminLogList" class="site-demo-active" data-type="tabAdd">用户信息</a>
                    <dl class="layui-nav-child">
                      <dd><a href="javascript:;" data-title="会员信息">会员信息</a></dd>
                      <dd><a href="javascript:;" data-title="订单信息">订单信息</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <!--tab标签-->
    <div class="layui-tab" lay-filter="demo" lay-allowclose="true" style="margin-left: 200px;">
        <ul class="layui-tab-title"></ul>
        <div class="layui-tab-content"></div>
    </div>

    <div class="layui-footer" style="text-align:center;">
        <!-- 底部固定区域 -->
        © 版权所有 盗版必究
    </div>
</div>
<script src="../static/layui/layui.js"></script>
<script>
    <!--这里是放置js代码区域-->
    layui.use(['element', 'layer', 'jquery'], function () {
        var element = layui.element;
        // var layer = layui.layer;
        var $ = layui.$;
        // 配置tab实践在下面无法获取到菜单元素
        $('.site-demo-active').on('click', function () {
            var dataid = $(this);
            //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
            if ($(".layui-tab-title li[lay-id]").length <= 0) {
                //如果比零小，则直接打开新的tab项
                active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
            } else {
                //否则判断该tab项是否以及存在
                var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                $.each($(".layui-tab-title li[lay-id]"), function () {
                    //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                    if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                        isData = true;
                    }
                })
                if (isData == false) {
                    //标志为false 新增一个tab项
                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
                }
            }
            //最后不管是否新增tab，最后都转到要打开的选项页面上
            active.tabChange(dataid.attr("data-id"));
        });

        var active = {
            //在这里给active绑定几项事件，后面可通过active调用这些事件
            tabAdd: function (url, id, name) {
                //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                //关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
                element.tabAdd('demo', {
                    title: name,
                    content: '<iframe data-frameid="' + id + '" scrolling="auto" frameborder="0" src="' + url + '" style="width:100%;height:99%;"></iframe>',
                    id: id //规定好的id
                })
                FrameWH(); //计算ifram层的大小
            },
            tabChange: function (id) {
                //切换到指定Tab项
                element.tabChange('demo', id); //根据传入的id传入到指定的tab项
            },
            tabDelete: function (id) {
                element.tabDelete("demo", id);//删除
            }
        };
        function FrameWH() {
            var h = $(window).height();
            $("iframe").css("height",h+"px");
        }
    });
</script>
</body>
</html>

