<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/css/public.css" media="all">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-form layuimini-form">
            <form th:action="@{/updatePwd1/}" method="get">
                <input type="hidden" name="ID" th:if="${user!=null}" th:value="${user.ID}"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">旧密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="PASSWORD" required lay-verify="oldPwd" placeholder="请输入旧密码"
                               autocomplete="off"
                               class="layui-input">
                    </div>
                    <span style="color: red" th:text="${msg}"></span>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="PASSWORD1" required lay-verify="pwd" placeholder="请输入新密码"
                               autocomplete="off"
                               class="layui-input" id="pass1">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="passwords" required lay-verify="pwd1" placeholder="请再次输入新密码"
                               autocomplete="off" class="layui-input" id="pass2">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Jquery Js -->
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<!-- Layui Js -->
<script type="text/javascript" src="../../static/layui/layui.js"></script>
<!-- Jqarticle Js -->
<script type="text/javascript" src="../../static/assembly/jqarticle/jparticle.min.js"></script>
<!-- ZylVerificationCode Js-->
<script type="text/javascript" src="../../static/assembly/zylVerificationCode/zylVerificationCode.js"></script>
<script>
    // 注册页面
			layui.use(['layer', 'element', 'form', 'layedit'], function() {
			    var layer = layui.layer;
			    var form = layui.form;
			    var element = layui.element;
			    var layedit = layui.layedit;
			    $(function() {
			        $("#butt").click(function() {
			            layer.open({
			                type: 1,
			                title: "注册页面",
			                area: ['600px', '700px'],
			                offset: '20px',
			                content: $("#gb"),
			                cancel: function() {
			                    // 你点击右上角 X 取消后要做什么
			                    setTimeout('window.location.reload()', 1);
			                },
			                success: function() {
			                    form.on('submit(formDemo)', function(data) {

			                    });
			                }
			            })
			            form.render();
			        })

			        //验证输入的密码是否相同；
			        $("#pass2").blur(function() {
			            var pass1 = $("#pass1").val();
			            var pass2 = $("#pass2").val();
			            if(pass1 != pass2) {
			                layer.msg("两次输入的密码不一致", {
			                    "icon": 2,
			                    "time": 2000
			                });
			                $("#pass2").val("");
			                return false;
			            }
			            return true;
			        });
			    });
			    //创建一个编辑器
			    var editIndex = layedit.build('LAY_demo_editor');
			    //自定义验证规则
			    form.verify({
			        oldPwd: [
			            /^(\w){5,20}$/, '只能输入5-20个字母、数字、下划线'
			        ],
			        pwd: [
			            /^(\w){5,20}$/, '只能输入5-20个字母、数字、下划线'
			        ],
			        pwd1: [
			            /^(\w){5,20}$/, '密码不一致，请重新输入'
			        ]
			    });
			});



</script>
</body>
</html>